:root {
    --base: #CABA9C;
    --visited: #4D2D18;
    --recipe-green: #8c916c;
    --navbar-brown: #8A6240;
    --raspberry-section-marker: #9E606F;
    --text-color: black;
    --recipe-link: #CABA9C;
}
.darkmode {
    --base: #4D2D18;
}
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(var(--base), var(--raspberry-section-marker));
    color: var(--text-color);
}

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-color: var(--navbar-brown);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

a:visited {
    color: var(--visited);
}

#name {
    font-family: "Nunito";
    font-style:italic;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

#name a {
    color: var(--text-color);
}

header ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

header ul a {
    color: var(--text-color);
}

header ul li {
    padding: 5px;
    margin-left: 10px;
}

.recipe {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    margin: 1em;
}

.recipe > div {
    background: var(--navbar-brown);
    padding: 1em;
    border-radius: 10px;
}

.recipe > div:nth-child(odd){
    background: var(--recipe-green);
}

.recipe > div:nth-child(1) {
    background: var(--raspberry-section-marker);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ol { list-style-position:inside; padding:0; }

.recipe ul li::marker {
    color: var(--base);
    content: "\2714";
  }

.light-dark {
    height: 50px;
    width: 50px;
    padding: 0;
    background-color: var(--navbar-brown);
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-dark:hover {
    background-color: var(--raspberry-section-marker);
}

.light-dark svg {
    fill: var(--base);
}

.light-dark svg:last-child{
    display: none;
}

.darkmode .light-dark svg:first-child{
    display: none;
}

.darkmode .light-dark svg:last-child{
    display: block;
}

a {
    color: var(--recipe-link);
}

a:hover {
    font-size: 1.1em;
}

form {
    margin: 1em;
}

input {
    border-radius: 4px;
    height: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: 1em;
    border-radius: 50%;
}

#formAndPicture {
    display:flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    text-shadow: 1px 1px;
}

#tips {
    grid-row-end: span 2;
}

@media only screen and (max-width: 768px) {
    .recipe{grid-template-columns: 1fr 1fr;}
  }

@media only screen and (max-width: 600px) {
    .recipe{grid-template-columns: 1fr;}
  }

.sidebar {
    position:fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--navbar-brown);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;

}

.sidebar a {
    width: 100%;
}

#hamburger {
    background-color: var(--navbar-brown);
    display: none
}

@media(max-width: 430px) {
    li[class^="hide"] {
        display: none;
    }
    #formAndPicture {
        flex-direction: column;
    }
    #hamburger {
        display: block;
    }
}

#hamburger:hover {
    background-color: var(--raspberry-section-marker);
}

#x {
    background-color: var(--navbar-brown);
}

#x:hover {
    background-color: var(--raspberry-section-marker);
}

input {
    display: block;
}

.gradientText {
    font-size: 4.5vw;
    font-weight: bold;
    background: linear-gradient(90deg, var(--text-color), var(--visited));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;


}